In [1]:
import pandas as pd
import re
import os
import sklearn
from tqdm import tqdm
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB

In [2]:
path_1 = r'D:\enron6\ham'
items = os.listdir(path_1)

In [3]:
data = pd.DataFrame(columns=['text'])
i = 0
for item in tqdm(items):
    path = os.path.join('D:\enron6\ham', item)
    text=open(path)
    data.loc[i] = [text.read()]
    i = i+1

100%|█████████████████████████████████████████████████████████████████████████████| 1500/1500 [00:02<00:00, 583.68it/s]

In [4]:
df = pd.DataFrame(columns=['label'])
for i in range(0,1500):
    df.loc[i] = 0
newdf_1 = pd.concat([data,df], axis=1)

In [5]:
path_2 = r'D:\enron6\spam'
samples = os.listdir(path_2)

In [6]:
data_1 = pd.DataFrame(columns=['text'])
i = 0
for sample in tqdm(samples):
    path = os.path.join('D:\enron6\spam', sample)
    newtext=open(path, encoding='gb18030', errors='ignore')
    data_1.loc[i] = [newtext.read()]
    i = i+1
df = pd.DataFrame(columns=['label'])
for i in range(0,4500):
    df.loc[i] = 1
newdf_2 = pd.concat([data_1,df], axis=1)

100%|█████████████████████████████████████████████████████████████████████████████| 4500/4500 [00:07<00:00, 627.12it/s]

In [7]:
newdf = pd.concat([newdf_1,newdf_2], axis=0, ignore_index = 'True')

In [8]:
newdf

                                                   text  label
0     Subject: key dates and impact of upcoming sap ...      0
1     Subject: transportation to resort\nplease be i...      0
2     Subject: human resources organization\nas enro...      0
3     Subject: what do you want to know today ?\n" a...      0
4     Subject: tw weekly , 6 - 9 - 00\nplease see th...      0
...                                                 ...    ...
5995  Subject: = ? iso - 8859 - 1 ? q ? good _ news ...      1
5996  Subject: all prescript medicines are on specia...      1
5997  Subject: the next generation online pharmacy ....      1
5998  Subject: bloow in 5 - 10 times the time\nlearn...      1
5999  Subject: dear sir , i am interested in it\nhi ...      1

[6000 rows x 2 columns]

In [9]:
df_x = newdf["text"]
df_y = newdf["label"]

In [10]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, train_size = 0.8, test_size = 0.2, random_state = 1)

In [11]:
transfer = TfidfVectorizer(min_df=1, stop_words='english',lowercase=True)
x_train_fit = transfer.fit_transform(x_train)
x_test_fit = transfer.transform(x_test)

In [12]:
x_train_fit

<4800x63161 sparse matrix of type '<class 'numpy.float64'>'
	with 463352 stored elements in Compressed Sparse Row format>

In [13]:
x_test_fit

<1200x63161 sparse matrix of type '<class 'numpy.float64'>'
	with 104122 stored elements in Compressed Sparse Row format>

In [14]:
y_train_mnb = y_train.astype('int')
classifierModel = MultinomialNB()
classifierModel.fit(x_train_fit, y_train_mnb)
pre = classifierModel.predict(x_test_fit)

In [15]:
acc = sklearn.metrics.accuracy_score(pre, y_test)

In [16]:
acc

0.9383333333333334